.eapps-instagram-feed-posts-grid-load-more {
  position: relative;
  width: 228px;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
  border: none;
  background: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  outline: none;
  cursor: pointer;
  margin: 24px auto;
  font-size: 14px;
  transition: opacity 0.5s ease, visibility 0.5s ease, background 0.2s ease;
  opacity: 0;
  visibility: hidden;
}
